<form action="/editstudent" method="post" enctype="multipart/form-data" style="border: 1px solid black; height: 300px; width: 400px;">
    <input type="text" name="editid" value="<%=oldstuid.id%>"><br>
    name:<input type="text" name="name"  value="<%=oldstuid.name%>"><br>
    age:<input type="text" name="age"  value="<%=oldstuid.age%>"><br>
    gender: <input type="radio" name="gender" value="male" <% if(oldstuid.gender=='male'){%> <%='checked'%><%}%>/> male
    <input type="radio" name="gender" value="female"<% if(oldstuid.gender=='female'){%> <%='checked'%><%}%>/> female<br><br>
    
    hobbies: <input type="checkbox" name="hobbies" value="swimming" <% if(oldstuid.hobbies.includes('swimming')){%><%='checked'%><%}%>/> swimming
             <input type="checkbox" name="hobbies" value="reading" <% if(oldstuid.hobbies.includes('reading')){%><%='checked'%><%}%>/> reading
             <input type="checkbox" name="hobbies" value="running" <% if(oldstuid.hobbies.includes('running')){%><%='checked'%><%}%>/> running  <br>

             <%var city=["surat","ahmdabad","vadodara","navsari"]%>
    city: <select name="city">
            <option value="">---select city---</option>
            <%city.map((v)=>{%>
                 <option value="<%=v%>"><%=v%></option>
            <%})%> 
          </select> <br> 
          
    image:<input type="file" name="adminage">
          <img src="<%=oldstuid.adminimage%>" height="100px" width="100px" alt=""><br>
           
    <input type="submit" name="">
    <a href="/views_detailes"  style="list-style: none; text-decoration: none; border: 1px solid black; background-color: antiquewhite;"></a>
</form>
